doctype html
html
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    script(src="https://cdn.jsdelivr.net/npm/flatpickr" defer)
    script(src="/js/add-new.js" defer)
  body
    header.main-header
        div.header-inner
          div.header-logo
            img(src="/images/nbd-philharmonic.svg" alt="NBD Philharmonic")
    main.main-content
      div.container
        div.page-headline
          h1.page-title Add New Concert
        div.form-body
          form#addNewConcert(action="/update-cobj" method="POST" novalidate)
            fieldset.one-column-fieldset
              div.form-input
                label(for="name") Concert Name:
                input(type="text" name="name" id="name" required)
                span(class="error-message")
            fieldset.one-column-fieldset
              div.form-input
                label(for="dateTime") Date and Time:
                input(type="text" name="dateTime" id="dateTime" required)
                span(class="error-message")
            div.form-concert-program
              p Program:
            div.form-concert-program-divider
            div.program-container#programContainer
              fieldset.program-column-fieldset
                div.count-program-rows 
                  p 1.
                div.form-input
                  label(for="composer") Composer:
                  input(type="text" name="composer[]" id="composer" required)
                  span(class="error-message")
                div.form-input
                  label(for="composition") Composition:
                  input(type="text" name="composition[]" id="composition" required)
                  span(class="error-message")
                div.remove-program-row 
            div.add-program-button-body
              button(type="button" class="add-program" id="addProgram") Add More Program
            div.form-concert-program-divider
            fieldset.one-column-fieldset
              div.form-input
                label(for="conductor") Conductor:
                select(name="conductor" id="conductor" required)
                  option(value="") Select a conductor
                span(class="error-message")
                input(type="hidden" name="conductorName" id="conductorName")
            div.form-final-buttons-body
              a(href="/").return-to-home Return to the homepage
              button(type="submit" class="submit-form-button") Submit
  div.check-date-modal#checkDatemodal
    div.check-date-modal-content
      p Oops! A concert is already planned for the selected date. Try choosing a different day.
      div.check-date-modal-button-body
        button(type="button" class="check-date-modal-button" id="checkDatemodalButton") OK!