html,
body{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
header.main-header{
    position:fixed;
    display: block;
    width: 100%;
    height: 124px;
    background-color: #151E21;
    padding: 0;
    margin: 0;
    z-index: 999;
}
.header-inner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1240px;
    height: 124px;
    padding: 0 20px;
    margin: 0 auto;
}
.header-logo{
    position: relative;
    display: block;
    width: 178px;
    padding: 0;
    margin: 0;
}
.header-logo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
main.main-content{
    position: relative;
    display: block;
    width: 100%;
    padding: 124px 0 0 0;
    margin: 0;
}
.container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1060px;
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
}
.page-headline{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 0 36px 0;
}
.page-headline h1{
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: none;
    color: #151E21;
    padding: 0;
    margin: 0;
}
.add-new-button-body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 0 36px 0;
}
.add-new-button-body a.add-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #151E21;
    background-color: #34D5B3;
    border: 1px solid #34D5B3;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.add-new-button-body a.add-btn:hover {
    color: #ffffff;
    background-color: #151E21;
    border: 1px solid #151E21;
}
.concerts-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    gap: 36px;
    padding: 0;
    margin: 0;
}
.concert{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 200px auto;
    grid-column-gap: 36px;
    align-items: stretch;
    justify-items: start;
    border: 1px solid #151E21;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.concert-left{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    background-color: #151E21;
    padding: 0;
    margin: 0;
}
.concert-left h3{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.concert-left h3 span.date-time-divider{
    display: block;
    width: 70%;
    height: 2px;
    background-color: #34D5B3;
    margin: 4px auto;
}
.concert-left h3 span.time{
    font-weight: bold;
}
.concert-right{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 16px 16px 16px 0;
    margin: 0;
}
.concert-right h2{
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: none;
    color: #151E21;
    padding: 0;
    margin: 0;
}
.concert-program{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    padding: 0;
    margin: 0;
}
.concert-program p{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: none;
    color: #637583;
    padding: 0;
    margin: 0;
}
.concert-program p span{
    font-weight: normal;
}
.program-divider{
    position: relative;
    display: block;
    width: 120px;
    padding: 0;
    margin: 0;
}
.program-divider img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.concert-conductor{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}
.concert-conductor p{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: none;
    color: #151E21;
    padding: 0;
    margin: 0;
}
.concert-conductor p span{
    font-weight: bold;
}
/** FORM **/
.form-body{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.form-body form#addNewConcert {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#addNewConcert fieldset.one-column-fieldset{
    position: relative;
    display: grid;
    width: 518px;
    grid-template-columns: repeat(1, 1Fr);
    grid-column-gap: 0px;
    border: none;
    padding: 0;
    margin: 0 auto 24px 0;
}
#addNewConcert fieldset.program-column-fieldset{
    position: relative;
    display: grid;
    align-items: end;
    justify-items: start;
    grid-template-columns: 20px auto auto 120px;
    grid-column-gap: 16px;
    border: none;
    padding: 0;
    margin: 0 0 24px 0;
}
#addNewConcert .form-input{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#addNewConcert label{
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #151E21;
    margin: 0 0 8px 0;
}
#addNewConcert input,
#addNewConcert select{
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #151E21;
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 0 8px;
    margin: 0;
}
#addNewConcert input:focus-visible,
#addNewConcert select:focus-visible{
    outline: none;
}
#addNewConcert input:-webkit-autofill{
    background-color: #ffffff !important;
    color: #151E21;
    border: 1px solid #E8E8E8;
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }
  #addNewConcert input:-webkit-autofill:focus,
  #addNewConcert select:-webkit-autofill:focus{
    background-color: #ffffff !important;
    border: 1px solid #E8E8E8;
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }
  #addNewConcert .error-message{
    display: none;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.4;
    text-transform: none;
    text-decoration: none;
    color: #C41E3A;
    margin: 8px 0 0 0;
  }
  #addNewConcert .form-concert-program{
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0 0 12px 0;
  }
  #addNewConcert .form-concert-program p{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: none;
    color: #151E21;
    padding: 0;
    margin: 0;
  }
  #addNewConcert .form-concert-program-divider{
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    padding: 0;
    margin: 0 0 24px 0;
  }
  #addNewConcert .count-program-rows{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 54px;
    padding: 0;
    margin: 0;
  }
  #addNewConcert .count-program-rows p{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: none;
    color: #151E21;
    padding: 0;
    margin: 0;
  }
  #addNewConcert button.remove-program-button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 54px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #151E21;
    background-color: #FF7B59;
    border: 1px solid #FF7B59;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  #addNewConcert button.remove-program-button:hover{
    color: #ffffff;
    background-color: #151E21;
    border: 1px solid #151E21;
  }
  #addNewConcert .add-program-button-body{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 0 0 16px 0;
  }
  #addNewConcert button.add-program{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 54px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #151E21;
    background-color: #ABCF37;
    border: 1px solid #ABCF37;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  #addNewConcert button.add-program:hover{
    color: #151E21;
    background-color: #ffffff;
    border: 1px solid #151E21;
  }
  #addNewConcert .form-final-buttons-body{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-column-gap: 48px;
    padding: 0;
    margin: 48px 0 0 0;
  }
  #addNewConcert button.submit-form-button{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #151E21;
    background-color: #34D5B3;
    border: 1px solid #34D5B3;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  #addNewConcert button.submit-form-button:hover{
    color: #ffffff;
    background-color: #151E21;
    border: 1px solid #151E21;
  }
  #addNewConcert a.return-to-home{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #151E21;
    background-color: #A4EDDE;
    border: 1px solid #34D5B3;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  #addNewConcert a.return-to-home:hover{
    color: #151E21;
    background-color: #ffffff;
    border: 1px solid #151E21;
  }
/** MODAL **/
.check-date-modal{
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .check-date-modal-content {
    background-color: white;
    margin: auto;
    padding: 24px;
    width: 410px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .check-date-modal-content p{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    color: #151E21;
    padding: 0;
    margin: 0;
  }
  .check-date-modal-button-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    padding: 0;
    margin: 24px 0 0 0;
  }
  button.check-date-modal-button{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #151E21;
    background-color: #34D5B3;
    border: 1px solid #34D5B3;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  button.check-date-modal-button:hover{
    color: #151E21;
    background-color: #ffffff;
    border: 1px solid #151E21;
  }
